.sort-controls {
  margin: 10px 10px;
}

.sort-controls label {
  margin-right: 10px;
  color: rgb(5, 76, 156);
  font-size: 12px;
}

.sort-controls select {
    color: rgb(73, 126, 196);
    padding: 8px;
    border-radius: 12px;
    width: 300px;
    border-color: rgb(165, 222, 240);
}


@media (max-width: 480px) {
  .sort-controls label {
  margin-right: 0px;
 
  
  
}
}
